= render 'shared/header'

.major
  .major-box
    %h1.major-box__message
      #text_content
        何と読む？
    .major-box__question
      #text_question

.footer
  .footer-box
    .footer-box__choice
      #text_select