@keyframes anime1 {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25%{
    transform: scale3d(1.15, 1.15, 1.15);
  }
  50%{
    transform: scale3d(1.2, 1.2, 1.2);
  }
  75%{
    transform: scale3d(1.15, 1.15, 1.15);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes anime2{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-5px);}
}

@keyframes typing {
  from { width: 0; } 
}

@keyframes blink-caret {
  50% { border-right-color: transparent; }
}

@keyframes anime3{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes anime4{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 0.1;
  }
  20%{
    opacity: 0.2;
  }
  30%{
    opacity: 0.3;
  }
  40%{
    opacity: 0.4;
  }
  50%{
    opacity: 0.5;
  }
  60%{
    opacity: 0.6;
  }
  70%{
    opacity: 0.7;
  }
  80%{
    opacity: 0.8;
  }
  90%{
    opacity: 0.9;
  }
  100%{
    opacity: 1;
  }
}

@keyframes anime5{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}